// BASE
$c-primary: #E6000D;
$c-secondary: #008BD1;
$c-text: #767C82;
$c-question-bg: #FFF;

// FORMS
$c-input: #d1d3d4;

// PROGRESS
$c-progress: #CDCDCD;


// RESULTS
$c-results-line: #d1d3d4;

// VARIATIONS
$c-primary-light: lighten($c-primary, 20%);
$c-secondary-light: lighten($c-secondary, 20%);
