.logo {
    // flex: 1 1 auto;
    width: 100%;
    max-width: 650px;
    margin-bottom: 20px;
    @include m-query(tablet) {
        margin-bottom: 50px;
    }
    @include grid($direction: row, $justify: center, $align: center);
    &__battle, &__sharp {
        height: 80px;
        @include m-query(tablet) {
            height: 127.3px;
        }
        width: 50%;

        background-repeat: no-repeat;
        background-size: contain;
    }
    &__battle {
        background-image: url(#{$img-base}logo-battle.svg);
        background-position: left top;
    }
    &__sharp {
        background-image: url(#{$img-base}logo-sharp.svg);
        background-position: right center;
        background-size: auto;
    }

}
