include includes/header.jade
section.results.results__download
    aside
        a.results__back(href = "model.html") Back
        .filter
            h4.filter__title Pages Per Minute
            a.filter__item 20 - 35
            a.filter__item 20 - 35
            a.filter__item 20 - 35
            a.filter__item 20 - 35
    main
        h1 Your head-to-head comparisons are ready!
        - var n = 0
        while n < 4
            article.results__item
                img.results__img(src = 'imgs/img-MX-M354N.jpg')
                h2.results__title Sharp MX-M354N
                span.results__competition Canon imageRUNNER ADVANCE 4035
                a.results__btn(href = "#") Download Report
                - n++
        .download__overlay
        .download__modal
            h3 Thanks for your interest!
            p Visit #[a.link--red(href = 'http://sharpusa.com', target = '_blank') sharpusa.com] to view all available Sharp models and find a dealer near you.
            a.download__btn(href = 'http://sharpusa.com', target = '_blank') Visit Sharp USA
            small
                a.start-over(href = 'index.html') Start over 
                
include includes/footer-noprinter.jade
