include includes/header.jade
section.question
    h1 See How Sharp MFPs Compare to Others
    p All document system needs are unique, and finding the right hardware to support your organization is not an easy task. Never fear! Thanks to the in-depth research of Buyers Laboratory, you can now compare brands and models of Multifunction Printers (MFPs) to make the right choice for your business. Learn about the advantages of Sharp’s award-winning MFPs. Select a brand and model to compare performance, specs, price, and more!

    a.question__next(href = 'brand.html') Next
    
    .progress
        .progress__item.progress__item--done
        .progress__item
        .progress__item
                
include includes/footer.jade
